/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Source Sans Pro', sans-serif; */

html {
  background-color: #3e0380;
}

body {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;;
  font-weight: bold;
}

p,
h2,
h4,
label,
span {
  font-family: 'Source Sans Pro', sans-serif;
}

h4 {
  font-size: 20px;
  margin: 0;
}

#app {
  background-color: #3e0380;
  color: white;
}

.functional-container {
  position: relative;
  z-index: 0;
}

ul.list-group.dropd {
  background-color: #7900ff;
  position: absolute;
  z-index: 1;
  width: 100%;;
}

li.list-group-item {
  background-color: #7900ff;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}

div.itag.row {
  background-color: #7900ff;
  border-radius: 3px;
  margin: 15px;
  padding: 5px;
}

div.itag.row:hover {
  cursor: pointer;
}

.artist-img {
  object-fit: cover;
  width: 270px;
  height: 330px;
  margin: 0px 5px 5px 5px;
  border-radius: 4px;
}

.btn.custom-btn {
  background-color: #00c4cc;
  color: white;
}

.btn.count-btn {
  background-color: #7900ff;
  color: white;
}

.btn.count-btn:hover {
  background-color: #7900ff;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

input.form-control {
  border: 0;
  outline: 0;
  color: white;
  background: transparent;
  border-bottom: 1px solid #e43397;
  padding-left: 0px;
}

input#exampleInputEmail1.form-control {
  padding-left: 0px;
}

input.form-control:focus {
  border: 0;
  outline: 0;
  color: white;
  box-shadow: none !important;
  background: transparent;
  border-bottom: 1px solid #e43397;
}

/* input[type=checkbox]:after {
  content: " ";
  background-color: #D7B1D7;
  display: inline-block;
  visibility: visible;
} */

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #7900ff!important;
  border-color: #7900ff!important;
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #7900ff;
  border-color: #7900ff!important;
}

.album-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}


div.col-lg-10.col-md-10.col-sm-8.track-artist {
  padding-top: 20px;
}

.col-lg-2.col-md-2.col-sm-4.track-duration {
  padding-top: 20px;
}

.track-name {
  margin-bottom: 0;
}

.col-lg-2.col-md-2.col-sm-4.play-img-parent {
  position: relative;
}

.col-lg-2.col-md-2.col-sm-4.play-img-parent:hover {
  cursor: pointer;
}

.track-line {
  border-bottom: 1px solid #6405d0;
}

.track-count {
  padding-top: 15px;
}

.row.m-4.flex-nowrap {
  transition: all .5s;
}

.row.m-4.flex-nowrap:hover {
  transform: scale(1.075);
  transition: all .5s;
}

.add-playlist-form {
  background-color: #4B049C;
  padding: 15px;
  border-radius: 10px;
}

div.form-check {
  padding-bottom: 15px;
}

.seeds-form {
  background-color: #4B049C;
  padding: 15px;
  border-radius: 10px;
}

.seed-title {
  margin-bottom: 0px;
}

.dropdown-menu.show{
  background-color: #7900ff;
}

a.dropdown-item {
  color: white;
}

.user-info-greeting {
  background-color: #7900ff;
  color: white;
  border-radius: 2px;
  padding: 5px;
  width: 100%;
}

.user-info-greeting p {
  margin-bottom: 0;
  padding-left: 3px;
  padding-right: 3px;
}

ul.d-flex.justify-content-around {
  padding: 0px 0 10px 0;
  margin: 0;
  border-bottom: 1px solid #e43397;
}

.artist-img-container {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

.artist-name {
  position: absolute;
  text-align: left;
  width: 100%;
  height: 0%;
  margin: auto;
  top: 275px;
  left: 10px;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-weight: bold;
}


@media only screen and (min-width: 320px) and (max-width: 479px) {
  .artist-img {
    width: 60px;
    height: 45px;
  }

  .artist-name {
    font-size: 8px;
    top: 50px;
    left: 0;
  }

  .user-info-greeting p {
    font-size: 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
  .artist-img {
    width: 120px;
    height: 180px;
  }

  .artist-name {
    font-size: 10px;
    top: 140px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .artist-img {
    width: 165px;
    height: 230px;
  }

  .artist-name {
    font-size: 12px;
    top: 190px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .artist-img {
    width: 225px;
    height: 300px;
  }

  .artist-name {
    top: 255px;
  }
}

@media only screen and (min-width: 1200px) {
  .artist-img {
    width: 270px;
    height: 330px;
  }

  .artist-name {
    position: absolute;
    text-align: left;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 275px;
    left: 10px;
    bottom: 0;
    right: 0;
    z-index: 51;
    font-weight: bold;
  }
}

